# Dependencies
node_modules/
venv/


# Environment variables
.env
.env.*
hf_token.py
hf_token
hf_token.txt
.hf_token

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
dist/
build/
*.log
__pycache__
gemma-lora-webq-fine-finetuned/
gemma-lora-webq-fine-finetuned.zip
*-finetuned.zip
*-finetuned/
checkpoints/

